{% load index %}
<!DOCTYPE html>
<html>
	<style>
		.fixed>tr>th {
			top: 0;
			z-index: 2;
			position: sticky;
			background-color: white;
		}
		#result{
			overflow-y: auto;
			max-height: 300px;
			margin-top: 20px;
			margin-bottom: 20px;
			border: 1px solid lightgrey;
			border-radius: 15px;
		}
		#info{
			display: none;
			margin-bottom: 20px;
		}
	</style>
<head>
	<title>Spotify Search</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<div class="container text-center">
		<h1>Spotify’s U.S. December 2017 : Daily Top 200 Songs 🎵</h1>
		<h3>by ThreeMustLulus</h3>
	</div>

	<form action="/search/" method="post" >
		{% csrf_token %}
		<div class="d-grid text-center gap-3">
			<div class="container">
				<div class="container g-3">
					<input name="query" type="sb-1" class="form-control rounded-pill mr-1" id="songSearchBox">
				</div>
			</div>
			<div class="container">
				<button type="submit" class="btn rounded-pill btn-primary"> Search </button>
			</div>
		</div>
	</form>

	{% if artist %}
	<div id="result" class="container">
		<table class="table table-hover">
			<thead class="fixed">
				<tr>
		  			<th scope="col">Song Title</th>
		  			<th scope="col">Artist</th>
				</tr>
			</thead>
			<tbody>
				{% for name in artist %}
					<tr  onclick="showInfo('{{ song|index:forloop.counter0 }}','{{ name }}','{{ genre|index:forloop.counter0 }}','{{ abstract|index:forloop.counter0 }}','{{ url|index:forloop.counter0 }}')">
						<td scope="col">{{ song|index:forloop.counter0 }}</td>
						<td scope="col">{{ name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}

	<div id="info" class="container">
		<div class="card w-100">
			<div class="card-header">
		    	<h4 id="song-title" class="card-title">Attention</h4>
			    <h6 class="card-subtitle mb-2 text-muted">Song</h6>
		  	</div>
		  	<div class="card-body">
			    <p><b>Artist :</b> <span id="song-artist">Charlie Puth</span></p>
			    <p><b>Genre :</b> <span id="song-genre">Pop Music</span></p>
			    <p id="song-info" class="card-text">Charles Otto "Charlie" Puth Jr. (/puːθ/; born December 2, 1991) is an American singer, songwriter and record producer who gained his initial recognition by the viral success of his song posts to YouTube. Puth subsequently gained wider recognition for hit songs including his debut single "Marvin Gaye", with vocals by Meghan Trainor, which topped charts in Australia, New Zealand, Ireland, and the United Kingdom – and which peaked at number 21 on the US Billboard Hot 100. Puth wrote, co-produced and performed with Wiz Khalifa on the song "See You Again", included in the Furious 7 soundtrack as a tribute to the late Paul Walker. Puth's debut studio album, Nine Track Mind, was released in January 2016 and was preceded by the single "One Call Away", which reached the top 20 on the Hot 100.</p>
			    <a id="spotify-link" class="btn btn-primary rounded-pill">Spotify Link</a>
		  	</div>
		</div>
	</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function showInfo(title, artist, genre, info, link) {
		$("#song-title").text(title);
		$("#song-artist").text(artist);
		$("#song-genre").text(genre);
		$("#song-info").text(info);
		$("#spotify-link").attr("href", link);
		$("#info").show();
	}
</script>
</html>